<div class="site-contents">
    <div class="site-contents contents-width">
    <h3 class="room-text">ルーム予約</h3>
    <div class="room-show-wrap">
         <div class="room-show-container">
          
          <div class="room-box">
             <p class="room-name"><%= @current_room %></p>
             <p class="room-address"><%= @current_room %></p>
             <p class="room-introduction"><%= @current_room %></p>
          </div>
        </div>
         <div class="room-show-container">
            <p class="price">予約確認<p>
           <%= form_tag("/resevations/create") do %>
           <div class="room-forms">
            <p class="show-text">開始日</p>
            <input class="room-form" type="date" name="start_day"value="<%= @resevation.start_day %>">
            <p class="show-text">終了日</p>
            <input class="room-form" type="date" name="end_day"value="<%= @resevation.end_day %>">
            <p class="show-text">人数</p>
            <input class="room-form" type="number" name="number_of_people" value="<%= @resevation.number_of_people %>">
            <p class="show-text">合計金額  一泊一人あたり¥<%=@resevation.n1_price%></p>
            <input class="room-form" type="hidden" name="n1_price" value="<%= @resevation.n1_price %>">
            <input class="room-btn" type="submit" value="予約を確定">
           <%end%>
           </div>
          
    </div>
    </div>
    </div>
</div>