<h2>ルーム新規登録画面</h2>
<%= form_for @room do |f| %>
  <table>
    <tr>
      <div class="room">
      <th><%= f.label :room_name ,'ルーム名' %></th>
      <td><%= f.text_field :room_name, placeholder: 'ルーム名を入力' %></td>
      </div>
    </tr>
    <tr>
      <th><%= f.label :introduction ,'ルーム紹介' %></th>
      <td><%= f.text_area :introduction, placeholder: 'ルーム説明を入力' %></td>
    </tr>
    <tr>
      <th><%= f.label :price ,'料金' %></th>
      <td><%= f.number_field :price,placeholder: '１日あたりの料金を入力' %></td>
    </tr>
    <tr>
      <th><%= f.label :address ,'住所' %></th>
      <td><%= f.text_field :address, placeholder: '住所を入力' %></td>
    </tr>
    <tr>
      <th><%= f.label :room_image, 'ルーム画像' %></th>
      <td><%= f.file_field :room_image, placeholder: 'ルーム画像を入力' %></td>
    </tr>
  </table>
  
  <div>
    <%= f.submit '登録',class: "room_room_touroku" %>
  </div>
<% end %>